

    <% # Loop through word elements %>
    <% @word.each do |element|  %>

        <p><%= element.word %></p>


        <% data = define(element.word) %>

            <p class="word">    <%= data[0]["data"][0]["groupResult"]["displayName"].gsub!("<b>", "").gsub!("</b>", "") %> </p>
            <p class="speech">  <%= data[0]["data"][0]["dictionary"]["definitionData"][0]["wordForms"][0]["form"] %> </p>        

            <ol>          
              <% # Loop through definitions %>
              <% data[0]["data"][0]["dictionary"]["definitionData"][0]["meanings"].each_with_index do |element, index| %>

                <li role="definition">  <%= element["meaning"] %> </li>
                  
                  <% if (element["examples"][index] rescue false) != false %>
                    <p class="example">  <%= element["examples"][index] %> </p>
                  <% end %>
             
              <% end%>  
            </ol> 

        <p>

    <% end %>
    <% # End word loop %> 

    <p><%= link_to "New Word", new_word_path %></p>






<script>
    // remove header drop effect
    $('header#home-drop').removeAttr('id');


</script>


