
    <% # Loop through word elements %>
    <% @word.each do |element|  %>
 
        <p class="word"> <%= element["primaries"][0]["terms"][0]["text"] %> </p>

          <p class="word-pronounce"><%= element["primaries"][0]["terms"][1]["text"] %></p>   
          <p class="speech"> <%= element["primaries"][0]["terms"][0]["labels"][0]["text"] %> </p>

           <ol>    
              <li role="definition"> <%= element["primaries"][0]["entries"][0]["terms"][0]["text"] %> </li>
                
                <% # Display second definition %>
                <% # (could remove '.first(2)' to display ALL definitions // however, this is slow loading) %>
                <% element["primaries"][0]["entries"].first(2).each do |definition| %>
                  
                  <%  # Attach definition to this element %>
                  <%  definition = definition["terms"][0]["text"] %>

                    <% # Ensure second definition exists and not the same as first %>
                    <% if (definition rescue false) != false && definition != element["primaries"][0]["entries"][0]["terms"][0]["text"] %>
                       <li role="definition"> <%= definition %> </li>
                    <% end %>

                <% end%>  
          </ol>
          
    <% end %>
    <% # End loop %> 


 
