

    <% # Loop through word elements %>
    <% @word.each do |element|  %>

        <% # Audio element attached to word for event listener %>
        <% #audio = element["primaries"][0]["terms"][2]["text"] %>
 
        <p class="word">    <%= element["word"] %> </p>
        <p class="speech">  <%= element["speech"] %> </p>        
        <!-- <p class="word" onclick="playSound(this, '<%= audio %>');"> <%= element["primaries"][0]["terms"][0]["text"] %></p>-->

        <ol>          
          <% # Loop through definitions %>
          <% element["definition"].each_with_index do |definition, index| %>

            <li role="definition">  <%= definition %> </li>
              
              <% if element["example"][index] != "false" %>
                <p role="example">  <%= element["example"][index] %> </p>
              <% end %>
          
          <% end%>  
        </ol> 

    <% end %>
    <% # End word loop %> 


<script>

    // audio for words searched
    function playSound(el,soundfile) {
        var embed = document.getElementById("embed");
        if (!embed) {
            var embed = document.createElement("embed");
                embed.id= "embed";
                embed.setAttribute("src", soundfile);
                embed.setAttribute("hidden", "true");
            el.appendChild(embed);
        } else {
            embed.parentNode.removeChild(embed);
        }
    }

</script>


