<% provide(:title, "Search") %>

<!--
<nav role="dashboard-nav">
    <span class="text"><img class="search-glass" src="search-icon.png"></span>
    <span class="text">Filter-By <span class="nav-arrow-up"></span></span>
    <span class="text">Sort-By <span class="nav-arrow-up"></span></span>
    <span class="text">Lists <span class="nav-arrow-up"></span></span>
</nav>
-->
    

<div id="search-results">

    <% # Loop through word elements %>
    <% @word.each do |element|  %>

        <div class="word-container">

            <% # Ensure there is data for this word %>
            <% if (element["error"] rescue false) != true %>
               
                <section class="top-container">
                    <p class="word">    <%= element["word"] %> </p>
                    <p class="speech">  <%= element["speech"] %> </p>        
                </section>
                    
                <section class="definition-container">
                    <ol>          
                      <% # Loop through definitions %>
                      <% element["definition"].each_with_index do |definition, index| %>

                        <li role="definition">  <%= definition %> </li>
                          
                          <% if element["example"][index] != "false" %>
                            <p class="example">  <%= element["example"][index] %> </p>
                          <% end %>
                      
                      <% end%>
                    </ol>
                </section>
                
                <span class="extra-information"></span>

            <% # Catch errors %>
            <% else %>    
                <p> Unable to find <%= element["word"] %> </p>
            <% end %>

        </div>

    <% end %>
    <% # End loop %> 

</div>


<!-- javascript -->
<script>
    // remove header drop effect
    $('header#home-drop').removeAttr('id');

    // audio for words searched
    function playSound(el,soundfile) {
        var embed = document.getElementById("embed");
        if (!embed) {
            var embed = document.createElement("embed");
                embed.id= "embed";
                embed.setAttribute("src", soundfile);
                embed.setAttribute("hidden", "true");
            el.appendChild(embed);
        } else {
            embed.parentNode.removeChild(embed);
        }
    }
</script>