<!-- start header -->
<header role="masthead" id="home-drop">
	<div id="masthead-container">
				
		<nav role="static">
			<span class="menu-text">( Log-In )<span class="arrow-up"></span></span>
		</nav>
										
	</div>
</header>
<!-- /header -->

<!-- nav active -->
<nav role="active">
							
	<div id="menu-contain">
					
		<section id="login-register">
			<span style="margin-left: 30px;" class="button static-color">Register</span>
			<span style="border-left: none;" class="button active-color">Log-In</span>
		</section>

		<!-- login -->
		<form class="login-register-form" id="login">
				<label>Email or Username</label>
					<input type="text" name="keyword" autofocus="true" required>
				<label>Password</label>	
					<input type="password" name="submit" required>
			<button class="button-submit">Log-In</button>
		</form>		

		<!-- create account -->
	    <%= form_for User.new, :html => {class: "login-register-form register"} do |f| %>
	      <%= f.label :name %>
	      <%= f.text_field :name %>

	      <%= f.label :email %>
	      <%= f.email_field :email %>

	      <%= f.label :password %>
	      <%= f.password_field :password %>

	      <%= f.label :password_confirmation, "Confirmation" %>
	      <%= f.password_field :password_confirmation %>

	      <%= f.submit "Create my account", :html => {class: "button-submit"} %>
	    <% end %>
																																			
	</div>
</nav>
<!-- /nav active -->