<!DOCTYPE html>
<html lang="en">
	
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<meta name="viewport" content="width=device-width">
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	
	<body>
		<div id="pagewrap">
			
			<%= render "layouts/header" %>
			
			<!-- start content -->
			<div id="content">
				
				<%= yield %>

				<% # Debug Information in dev. envirement %>
				<%	#debug(params) if Rails.env.development? class: "debug_dump" %>

			</div>
			<!-- end content -->

			<!-- page overlay for login -->
			<span id="page-overlay"></span>	
		</div>
	</body>
</html>